{{ define "main" }}
  <article class="article-body max-w-4xl [&_blockquote]:border-l-4 [&_blockquote]:border-gray-300 [&_blockquote]:ps-4 [&_code]:rounded [&_code]:bg-gray-100 [&_code]:px-1.5 [&_code]:py-0.5 dark:[&_code]:bg-gray-800 [&_h1]:mb-4 [&_h1]:text-3xl [&_h1]:font-bold [&_h2]:mt-8 [&_h2]:text-2xl [&_h2]:font-semibold [&_h3]:mt-6 [&_h3]:text-xl [&_h3]:font-semibold [&_img]:max-w-full [&_li]:my-1 [&_ol]:my-3 [&_ol]:list-decimal [&_ol]:ps-6 [&_p]:my-3 [&_ul]:my-3 [&_ul]:list-disc [&_ul]:ps-6 [&_a]:text-blue-600 [&_a]:underline dark:[&_a]:text-blue-400 [&_table]:my-4 [&_table]:w-full [&_table]:border-collapse [&_table]:border [&_table]:border-gray-300 [&_table]:text-sm [&_th]:border [&_th]:border-gray-300 [&_th]:bg-gray-900 [&_th]:px-3 [&_th]:py-2 [&_th]:text-left [&_th]:font-semibold [&_th]:text-white [&_td]:border [&_td]:border-gray-300 [&_td]:px-3 [&_td]:py-2">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{- .Scratch.Set "children" .Pages -}}
    {{- if .Sections -}}
      {{- .Scratch.Set "children" (.Pages | union .Sections) -}}
    {{- end -}}
    {{- $children := .Scratch.Get "children" -}}
    {{- if gt (len $children) 0 -}}
      <ul class="mt-6 list-none space-y-2 p-0">
        {{- if eq (.Site.Params.ordersectionsby | default "weight") "title" -}}
          {{- range $children.ByTitle -}}
            {{- if not .Params.hidden -}}
            <li>
              <a class="text-blue-700 hover:underline dark:text-blue-400" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </li>
            {{- end -}}
          {{- end -}}
        {{- else -}}
          {{- range $children.ByWeight -}}
            {{- if not .Params.hidden -}}
            <li>
              <a class="text-blue-700 hover:underline dark:text-blue-400" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </li>
            {{- end -}}
          {{- end -}}
        {{- end -}}
      </ul>
    {{- end -}}
  </article>
{{ end }}
